.login-mobile-not-supported {
  display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

@media only screen and (max-width: 655px) {
  .login {
    display: none;
  }

  .login-mobile-not-supported {
    display: block;
  }
}
