.card-brand {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #dadada;
  padding: 12px;
  margin-bottom: 12px;

  .title-brand {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    /* identical to box height */

    /* elred-text/t1 */

    color: #313030;
  }
  .location {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    /* elred-text/t3 */

    color: #848484;
  }
}

.brand-image {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.add-brand-container {
  margin-top: 20px;
  width: 30%;

  // position: absolute;
  // bottom: 20px;
  // width: 50%;
  // left: 50%;
  // right: 50%;
  // transform: translate(-50%, -50%);
}

.drawer-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #899197;
  margin-bottom: 20px;
}

.tagging-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media only screen and (max-width: 1600px) {
  .drawer-title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
