html{
  font-size: 62.5%;
}
.login {
  padding-left: 6.5%;
  padding-right: 8%;
  .loginNav {
    padding-bottom: 1rem;
    .menu-row {
      padding-top: 5rem;
      padding-bottom: 4rem;
      .nav-logo {
        img {
          max-width: 200px;
          width: 100%;
          cursor: pointer;
        }
      }

      .nav-menus {
        ul {
          display: flex;
          list-style-type: none;
          justify-content: flex-end;
          width: 100%;

          li {
            margin-left: 5.5rem;
            cursor: pointer;
            font-size: 2.4rem;
            font-weight: 500;
            color: #898a8d;
          }
        }
      }
    }
  }

  .loginNav-left {
    border-top: 1px solid black;
    .login-heading {
      font-family: "Inter";
      font-style: normal;
      font-weight: 900;
      font-size: 8.2rem;
      line-height: 10rem;
      padding: 4rem 0;
      text-transform: uppercase;
      .connections {
        color: #be212a;
      }
    }

    .loginNav-para {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 4rem;
      color: #898A8D;
      width: 83%;
    }
  }

  .loginNav-right {
    text-align: right;
    .image-box {
      margin-bottom: 1rem;
      img {
        max-width: 380px;
        width: 100%;
        margin-bottom: 5%;
      }
    }
  }
}

.get-otp-btn {
  background-color: #be212a;
  border: none;
  color: white;
  padding: 2rem 4.5rem;
  border-radius: .8rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.8rem;
  margin-top: 5.5rem;
}

.text-login{
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  margin-top: 4.5rem;
}

.email-enter-msg{
  font-weight: 400;
  font-size: 2rem;
  line-height: 34px;
  color: #898A8D;
  margin-top: 40px;
}

.loginOtp{
  .email{
    margin-top: 20px;
    width: 60% !important;
    line-height: 2.5 !important;
    font-size: 2.4rem !important;
    background: rgba(129, 129, 129, 0.05);
    border: none;
  }
}


@media only screen and (max-width: 1705px) {
  html{
    font-size: 50%;
  }
}