.offcanvas.show.seeAll {
  width: 32% !important;

  .offcanvas-title {
    padding-top: 20px;
    padding-left: 40px;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }

  button {
    margin-right: 20px;
  }

  .offcanvas-body {
    padding: 0;
  }
}

.seeall-header {
  background-color: #f1f3f8;
  border: transparent;
  tr {
    th {
      text-align: center;
      padding: 20px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .offcanvas.show.seeAll {
    width: 35% !important;

    .offcanvas-title {
      font-size: 20px;
    }
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .offcanvas.show.seeAll {
    width: 32% !important;

    .offcanvas-title {
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  // .offcanvas.show.seeAll {
  //   display: none;
  // }
  .offcanvas.show.seeAll {
    width: 35% !important;

    button{
      font-size: 12px !important; 
    }

    .offcanvas-title {
      margin-bottom: 5px;
      font-size: 16px;
      padding-top: 10px;
      padding-left: 20px;
      line-height: 24px;
    }
  }

  .seeall-header{
    tr{
      th{
        font-size: 12px;
        padding: 15px !important;
      }
    }
  }
}


@media only screen and (max-width: 991px) {
  .offcanvas.show.seeAll {
    display: none;
  }
}