.right-side-tr {
  border: transparent;
  background-color: white;
  .single-product-item {
    padding-top: 25px;
    padding-left: 30px;
    .img-div {
      display: flex;
      align-items: center;

      .text-desc {
        margin-left: 12px;
        .product-name {
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
          color: #000;
          margin-bottom: 10px;
        }
        .description {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: #909090;
        }
      }
    }
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
  .quantity {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
  }
  .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
  }
  .price-padding {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
    padding-right: 20px;
  }
  .remove-btn {
    cursor: pointer;
  }

  &.no-hover {
    &:hover{
      background-color: white;
      cursor: default;
    }
  }
}

/* Only apply hover effect when "no-hover" class is not present */
.right-side-tr:not(.no-hover):hover {
  background-color: #F3F5F6;
  cursor: pointer;
}

.right-side-tr-no-hover {
  border: transparent;
  background-color: white;
  .single-product-item {
    padding-top: 25px;
    padding-left: 30px;
    .img-div {
      display: flex;
      align-items: center;

      .text-desc {
        margin-left: 12px;
        .product-name {
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
          color: #000;
          margin-bottom: 10px;
        }
        .description {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: #909090;
        }
      }
    }
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
  .quantity {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
  }
  .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
  }
  .price-padding {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
    padding-right: 20px;
  }
  .remove-btn {
    cursor: pointer;
  }

}


.selected-tr{
  background-color: #E2E6EA !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .right-side-tr {

    .price{
      font-size: 14px;
    }
    .single-product-item {
      padding-top: 15px;
      padding-left: 15px;

      .img-div {
        .text-desc {
          margin-right: 8px;

          .product-name {
            font-size: 12px;
            margin-bottom: 2px;
            max-width: 95px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .description {
            font-size: 10px;
            max-width: 96px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .img-div {
        img {
          width: 30px;
        }
      }
    }

    .pl40 {
      padding-left: 22px !important;
    }

    .quantity {
      font-size: 14px;
    }

    .price-padding {
      font-size: 14px;
      padding-right: 10px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .right-side-tr {
    .single-product-item {
      padding-top: 15px;
      padding-left: 15px;

      .img-div {
        .text-desc {
          margin-right: 8px;

          .product-name {
            font-size: 12px;
            margin-bottom: 2px;
            max-width: 95px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .description {
            font-size: 10px;
            max-width: 96px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .img-div {
        img {
          width: 45px;
        }
      }
    }

    .pl40 {
      padding-left: 22px !important;
    }

    .quantity {
      font-size: 16px;
    }

    .price-padding {
      font-size: 14px;
      padding-right: 10px;
    }
  }
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .right-side-tr {
    .single-product-item {
      padding-top: 15px;
      padding-left: 20px;
      width: 50px;

      .img-div {
        img{
          width: 48px;
        }
        .text-desc {
          .product-name {
            font-size: 14px;
            margin-bottom: 8px;
            max-width: 115px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .description {
            max-width: 116px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    .pl40 {
      padding-left: 32px !important;
    }

    .quantity {
      font-size: 16px;
    }
    .price-padding {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (min-width: 1600px) and (max-width: 1750px) {
  .right-side-tr {
    .single-product-item {
      padding-left: 25px;

      .img-div {
        .text-desc {
          .product-name {
            font-size: 15px;
            margin-bottom: 8px;
            max-width: 115px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .description {
            max-width: 116px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media (min-width: 1750px) {
  .right-side-tr {
    .single-product-item {
      // padding-left: 25px;

      .img-div {
        .text-desc {
          .product-name {
            // font-size: 15px;
            // margin-bottom: 8px;
            max-width: 118px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .description {
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
