.icon-button {
    .edit-icon {
        padding-left: 16px;
        background-color: #fff;
        border: none;
    }
}

.btn-title-center {
    background: #BE212A;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 18px;
    width: 100%;
    border: none;

}