.productcart-header {
  tr {
    th {
      text-align: center;
      //   padding: 20px;
      text-align: center;
      padding: 20px 0px;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      background: #f1f3f8;
      border: transparent;
    }
  }
}

.dashed-line {
  border: 2px dashed #efefef;
  width: 80%;
  margin: 0 auto;
}

.edit-see-all {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  font-size: 16px;
  color: #e72d38;
  font-weight: 500;

  .edit {
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;

    img {
      width: 14px;
      margin: 0 8px;
    }

    .text {
      padding-right: 10px;
    }
  }
}

.other-instructions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 auto;
  padding: 20px 40px;
  padding-left: 35px;
  background: #f1f3f8;

  .text {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #000;
  }
}

.purchase-order {
  width: 85%;
  margin: 0 auto;
  .title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 22px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  input {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    background: #eff1f8;
    border: transparent;
    height: 50px;
    border-radius: 6px;
    padding: 13px 20px;
  }
}

.addresses {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px !important;
  margin-bottom: 25px !important;

  .title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 22px;
  }
}
.display-address {
  width: 85%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #909090;
  margin-bottom: 30px;
}

.item-rate-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #909090;
  margin-top: 20px !important;
}

.simple-line {
  border: 2px solid #efefef;
}

.total-rate-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px !important;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #000;
  margin-top: 15px !important;
}

.cart-btns {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px !important;

  button {
    padding: 15px 36px;
    border-radius: 12px;
  }

  .clear {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    &:active {
      background-color: white;
      color: #000;
    }
  }
  .place-order {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    background-color: #be212a;
    border: #be212a;

    &:active {
      background-color: #be212a;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .productcart-header {
    tr {
      th {
        font-size: 12px;
        line-height: 17px;
        padding: 10px 0;
        font-weight: 600;
      }
    }
  }

  .other-instructions {
    padding: 15px 0;
    padding-right: 30px;
    padding-left: 25px;
    .text {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .purchase-order {
    .title {
      font-size: 16px;
    }

    input {
      font-size: 16px;
      line-height: 20px;
      height: 40px;
      padding: 10px 15px;
    }
  }

  .addresses {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    .title {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .display-address {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 25px;
  }

  .item-rate-div {
    font-size: 16px;
    margin-bottom: 10px !important;
    line-height: 20px;
  }

  .total-rate-div {
    font-size: 16px;
    margin-bottom: 15px !important;
    line-height: 20px;
  }

  .edit-see-all {
    font-size: 14px;
    padding: 15px;
    padding-right: 30px;
    padding-left: 25px;
  }

  .cart-btns {
    button {
      // padding: 15px 25px;
    }
    .clear {
      font-size: 14px;
      line-height: 14px;
      border-radius: 8px;
      padding: 15px 30px;
    }
    .place-order {
      line-height: 15px;
      font-size: 14px;
      border-radius: 8px;
      padding: 15px 30px;
    }
  }

  .simple-line {
    border: 1px solid #efefef;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .productcart-header {
    tr {
      th {
        font-size: 14px;
        line-height: 17px;
        padding: 10px 0;
      }
    }
  }

  .other-instructions {
    padding: 15px 0;
    padding-right: 30px;
    padding-left: 25px;
    .text {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .purchase-order {
    .title {
      font-size: 16px;
    }

    input {
      font-size: 16px;
      line-height: 20px;
      height: 40px;
      padding: 10px 15px;
    }
  }

  .addresses {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    .title {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .display-address {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 25px;
  }

  .item-rate-div {
    font-size: 16px;
    margin-bottom: 10px !important;
    line-height: 20px;
  }

  .total-rate-div {
    font-size: 16px;
    margin-bottom: 15px !important;
    line-height: 20px;
  }

  .edit-see-all {
    font-size: 14px;
    padding: 15px;
    padding-right: 30px;
    padding-left: 25px;
  }

  .cart-btns {
    button {
      padding: 15px 25px;
    }
    .clear {
      font-size: 14px;
      line-height: 17px;
    }
    .place-order {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .simple-line {
    border: 1px solid #efefef;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .other-instructions {
    padding: 20px 30px;

    .text {
      font-size: 18px;
    }
  }

  .edit-see-all {
    padding: 20px 30px;
  }

  .purchase-order {
    .title {
      font-size: 18px;
    }
    input {
      font-size: 18px;
    }
  }

  .addresses {
    .title {
      font-size: 18px;
    }
  }

  .display-address {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .item-rate-div {
    font-size: 18px;
  }

  .total-rate-div {
    font-size: 18px;
  }

  .cart-btns {
    button {
      padding: 12px 25px;
    }
    .place-order,
    .clear {
      font-size: 18px;
      border-radius: 10px;
    }
  }
}

@media (min-width: 1600px) and (max-width: 1749px) {
  .other-instructions {
    padding: 20px 30px;
  }
  .edit-see-all {
    padding: 20px 30px;
  }
  .cart-btns {
    button {
      padding: 15px 35px;
    }
    .place-order,
    .clear {
      font-size: 18px;
    }
  }
}
