.drawer-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #899197;
  margin-bottom: 40px;
}

.btn-add-container {
  width: 70px;
  position: absolute;

  top: 31px;
  right: 42px;
}

.count-text-color {
  font-weight: 600 !important ;
  color: #be212a !important;
}

.image-go-back {
  height: 26px;
  width: 29px;
  cursor: pointer;
}

.drawer-title-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  padding-left: 20px;
  margin-bottom: 0 !important;
  /* identical to box height */

  color: #000000;
}

.offcanvas.drawer-operation.show {
  width: 46% !important;
}

.switch-item-container {
  padding-left: 30px;
}
.drawer-conter-canvas {
  height: 100%;
}
.drawer-header-container {
  padding-bottom: 20px;
}
.stm-container {
  overflow: hidden;
  height: 150px;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.contacts-count {
  background-color: #fff2f2;
  // padding: 8px;
  height: 42px;
  width: 42px;
  font-weight: 600;
  border-radius: 50%;
  color: #be212a !important;
}

.input-wrapper {
  margin-bottom: 50px;
}

.check-container {
  margin-right: 25px;
}

.apply-all-checked {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-left: 12px;
  line-height: 22px;
  margin-bottom: 12px;
  /* identical to box height */

  color: #000000;
}

.card-slots-container {
  display: flex;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 12px;
  padding: 10px;
  height: 80px;
  margin-bottom: 15px;

  .card-day {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }
  .cardspace {
    margin-left: 10px;
  }

  .title-active {
    margin-right: 25px;
  }
}

.card-statement-cont {
  border: 1px solid #dadada;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 33px;

  .statement-head {
    padding-bottom: 8px;
  }

  .icon-delete {
    padding-right: 10px;
  }

  .statement-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
  }
}

.icon-social {
  height: 35px;
  width: 35px;
}

.title-social {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  text-align: center;
  margin-top: 8px;
  color: #000000;
  text-align: center;
}

.btn-bg-trasparent {
  color: #be212a;
  background-color: #fff;
  font-size: 20px;
}
.btn-view-all-container {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.card-other-cont {
  position: relative;
}

.btn-view-all-container button {
  background-color: #fff;
  color: #4793f4;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background: #ffffff;
  border: 1px solid #4793f4;
  border-radius: 14px;
  padding: 4px 20px;
}

.select__multi-value {
  background-color: rgba(50, 182, 250, 0.2) !important;
  border: none;
  border-radius: 0;
}

.select__multi-value__label {
  color: #51b2e2 !important;
}

.select__multi-value__remove {
  color: #51b2e2;
}
.title-other-Info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 6px;
  color: #000000;
}

.cont-card-cont {
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 30px;
  height: 233px;
}

.cont-email-cont {
  margin-bottom: 44px;
}

.cont-email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  margin-left: 10px;

  color: #000000;
}

.email-overflow-container {
  width: 80%;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.cont-wrapper-title {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.cont-phone {
  margin-left: 15px;
}
.container-text-area {
  margin-bottom: 20px;
}

.content-height {
  height: 100%;
}
.chat-container {
  margin-top: 12px;
  padding: 12px 0 0 0;
  border-top: 1px solid #dadada;
}

.btn-align-bottom {
  position: absolute;
  bottom: 20px;
  right: 35px;
  left: 35px;
}

.drawer-description-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #899197;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1600px) {
  .statement-title {
    font-size: 16px;
  }

  .input-wrapper {
    margin-bottom: 40px !important;
  }

  .drawer-description-text {
    font-size: 18px !important;
  }
  .drawer-title-text {
    font-size: 26px !important;
  }

  .btn-align-bottom {
    position: absolute;
    bottom: 20px;
    right: 25px;
    left: 25px;
  }
}

@media only screen and (max-width: 1440px) {
  .statement-title {
    font-size: 14px;
  }

  .input-wrapper {
    margin-bottom: 35px !important;
  }

  .offcanvas.drawer-operation.show {
    width: 55% !important;
  }

  .drawer-title-text {
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 1199px) {
  .statement-title {
    font-size: 14px;
  }

  .input-wrapper {
    margin-bottom: 30px !important;
  }

  .offcanvas.drawer-operation.show {
    width: 66% !important;
  }

  .drawer-description-text {
    font-size: 16px !important;
  }

  .drawer-title-text {
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 975px) {
  .offcanvas.drawer-operation.show {
    width: 75% !important;
  }
}

@media only screen and (max-width: 800px) {
  .offcanvas.drawer-operation.show {
    width: 90% !important;
  }
}
