.see-div {
  cursor: pointer;
  font-size: 16px;
  color: #e72d38;
  font-weight: 600;
  display: flex;
  align-items: center;
  .see-all {
    margin-right: 10px;
  }
}


@media (min-width: 1200px) and (max-width: 1439px) {
  .see-div{
    font-size: 14px;
  }
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .see-div{
    font-size: 14px;
  }
}
