.filter-dealer {
  display: flex;
  align-items: center;
  // background: red;
  border: 1.4px solid #e4e4e4;
  // width: 18%;
  padding: 12px 10px;
  justify-content: space-around;
  border-radius: 6px;
  cursor: pointer;

  .left-icon,
  .right-icon {
    margin: 0 10px;
  }

  img {
    color: #899197;
  }

  .filter-text {
    font-size: 14px;
    font-weight: 500;
    color: #899197;
  }
}

@media only screen and (max-width: 1199px) {
  .filter-btn {
    padding: 7px 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .filter-dealer {
    padding: 6px 8px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .filter-dealer {
    padding: 4px;

    .filter-text {
      font-size: 12px;
    }
  }
}
