.selectaddress {
    margin-bottom: 40px;
    .title{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #000;
    }
  .address-box {
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 20px;
    .upper-line {
      display: flex;
      align-items: center;
      .text-add {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-left: 25px;
        padding-right: 15px;

      }

      img {
        margin-top: -35px;
        cursor: pointer;
      }
    }

    .mobile-line {
      margin-left: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img{
        cursor: pointer;
      }

      .num {
        margin-top: 12px;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #000;
      }
    }

    .address-divider {
      border: 1px solid #cccccc;
      margin: 20px 0;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .selectaddress{
    .title{
      font-size: 14px;
    }

    .address-box{
      .upper-line{
        .text-add{
          font-size: 16px;
          padding-right: 15px;
        }
      }
      .mobile-line{
        .num{
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .selectaddress{
    .title{
      font-size: 14px;
    }

    .address-box{
      .upper-line{
        .text-add{
          font-size: 16px;
          padding-right: 15px;
        }
      }
      .mobile-line{
        .num{
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 1600px) and (max-width: 1749px) {
  .selectaddress{

    .address-box{
      .upper-line{
        .text-add{
          font-size: 18px;
          padding-right: 15px;
        }
      }
      .mobile-line{
        .num{
          font-size: 18px;
        }
      }
    }
  }
}