.input-div-comp {
  margin-bottom: 20px;

  .form-label {
    font-size: 18px;
    font-weight: 500;
    color: #000;
  }

  input {
    background: #f7f7f7;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 1360px) {
  .input-div-comp{
    input{
      padding: 10px !important;
    }
  }
  }


  @media only screen and (max-width: 1199px) {
    .input-div-comp{
      .form-label{
        font-size: 14px;
      }
      input{
        font-size: 14px;
      }
    }
  }