.rdw-editor-toolbar {
}
.modal-content {
  /* padding: 8px; */
}
.rdw-editor-main {
  overflow: hidden;
}
.notranslate .public-DraftEditor-content {
  width: 97% !important;
}
.modalbody {
  height: 550px;
  overflow: auto;
}
.modal-title {
  font-size: 18px;
  font-weight: 600;
}

.crossCloseButton {
  height: 22px;
  width: 30px;
  padding-left: 10px;
}
