.dashboard-container {
  .announcement {
    // display: flex;
    // align-items: center;
    // font-weight: 600;
    // font-size: 32px;
    // line-height: 39px;
    // text-align: center;
    // color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }

  .orders-col {
    // background-color: #f3eee9;
    background-color: white;
    // border: 1px solid #ae9276;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }

  .third-col {
    // background: #e7e1f6;
    background-color: white;
    // border: 1px solid #5e4f86;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }

  .fourth-col {
    // background: #DDEFE9 !important;
    // border: 1px solid #4f8668;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }

  .notification-sidebar {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
}
