.offcanvas.show.address-popup {
  width: 32% !important;

  .offcanvas-title {
    padding-top: 20px;
    padding-left: 40px;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }

  button {
    margin-right: 20px;
    padding: 18px;
  }

  .offcanvas-body {
    padding: 0;
  }
}

.address-popup-header {
  background-color: #f1f3f8;
  border: transparent;
  tr {
    th {
      text-align: center;
      padding: 20px;
    }
  }
}

.popup-container {
  margin: 0 50px;
  height: 82vh;
  position: relative;
  overflow-y: scroll;

  .save-address-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .save-address {
      width: 80%;
      margin-bottom: 20px;
      border-radius: 12px !important;
      padding: 18px;
      margin-right: 0 !important;
    }
  }
}

.popup-container::-webkit-scrollbar,
.popup-container::-moz-scrollbar,
.popup-container::-ms-scrollbar {
  display: none;
}
.popup-container::-webkit-scrollbar {
  display: none;
}

.save-address-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4% 17%;
  box-shadow: 0px -4px 12px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.newAddress-back {
  margin-left: -20px;

  .backToAddress {
    img {
      margin-right: 20px;
      cursor: pointer;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .offcanvas.show.address-popup {
    width: 38% !important;

    .offcanvas-title {
      padding-left: 30px;
      font-size: 20px;
    }
  }
  .popup-container {
    margin: 0 40px;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .offcanvas.show.address-popup {
    width: 35% !important;

    .offcanvas-title {
      padding-top: 10px;
      padding-left: 30px;
      font-size: 22px;
      line-height: 28px;
    }

    .save-address-div{
      padding: 2% 15%;
    }

    button{
      padding: 12px;
    }
  }
  .popup-container {
    margin: 0 40px;
  }
}

@media only screen and (max-width: 1199px) {
  // .offcanvas.show.address-popup {
  //   display: none;
  // }
  .offcanvas.show.address-popup {
    width: 38% !important;

    .offcanvas-title {
      font-size: 16px;
      padding-left: 15px;
      /* margin: 15px; */
      padding-top: 10px;
      line-height: 24px;
    }
  }
  .popup-container {
    margin: 0 40px;
  }

  .newAddress-back {
    margin-left: 0;
  }
  button {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 991px) {
  .offcanvas.show.address-popup {
    display: none;
  }
}
