.scrollable-left {
  .leftside {
    padding-top: 20px;
    padding-left: 45px;
    //   overflow-y: scroll;
    // width: 600px;

    .title {
      font-size: 28px;
      font-weight: 600;
    }
    .image-div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      max-width: 600px;
      width: 100%;
      height: 350px;
      border-radius: 12px;
      background-color: #f8fafb;
      position: relative;

      .sub-images {
        display: none;
        position: absolute;
        top: 30px;
        left: 30px;

        .toggle-img {
          width: 45px;
          height: 45px;
          background: #f5f5f5;
          /* display: flex; */
          /* text-align: center; */
          border: 1px solid #e1e1e1;
          /* vertical-align: text-bottom; */
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 6px;

          img {
            height: 35px;
            max-width: 165px;
            width: 100%;
          }
        }
      }

      .wish-list {
        position: absolute;
        top: 30px;
        right: 30px;
      }
    }

    .about-product {
      margin-top: 5%;

      .product-code {
        font-size: 18px;
        font-weight: 500;
        color: #848484;
        line-height: 34px;
      }
      .product-price {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 600px;
        width: 100%;
      }

      .product-desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        max-width: 600px;
        width: 100%;
        text-align: justify;
        color: #848484;
        margin-top: 10px;
      }
    }

    .color-description {
      // width: 600px;
      margin-top: 5%;

      .color-desc-title {
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        color: #000;
        margin-bottom: 20px;
      }
      .select-color-btn {
        padding: 15px 40px;
        background-color: transparent;
        border-color: #c8c8c8;
        margin-right: 30px;
        margin-bottom: 30px;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        color: #000;
        border-radius: 11px;

        &:hover {
          background-color: #fdeaeb;
          color: #be212a;
          border-color: #be212a;
        }
      }
    }

    .quantity-input {
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
      color: #000;
      margin-bottom: 20px;
      margin-top: 5%;
      max-width: 600px;
      width: 100%;
      .quantity-desc-title {
        margin-bottom: 20px;
      }
      input {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        color: #000;
        background: #f7f7f7;
        margin-bottom: 20px;
        border: transparent;
        height: 60px;
        border-radius: 6px;
        padding: 16px 20px;
      }
    }

    .urgent-order {
      margin-top: 60px;
      .form-check {
        display: flex;
        align-items: end;
        .form-check-input {
          width: 28px;
          height: 28px;
          margin-right: 15px;
        }
        label {
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          color: #000;
        }
      }
    }

    .add-div-btn {
      margin-top: 100px;
      width: 600px;
      text-align: center;
      margin-bottom: 40px;
      .add-product-button {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        background-color: transparent;
        border: 2px solid #be212a;
        color: #be212a;
        border-radius: 12px;
        padding: 20px 180px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .scrollable-left {
    .leftside {
      padding-left: 20px;
      .title {
        font-size: 20px;
        line-height: 28px;
        // margin-top: 20px;
      }

      .about-product {
        .product-code {
          font-size: 14px;
          line-height: 24px;
        }
        .product-desc {
          font-size: 13px;
          line-height: 20px;
        }
        .product-price {
          font-size: 18px;
          line-height: 24px;
        }
      }

      .color-description {
        .color-desc-title {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 15px;
        }
        .select-color-btn {
          font-size: 12px;
          line-height: 17px;
          padding: 12px 21px;
          margin-right: 16px;
          margin-bottom: 16px;
        }
      }

      .quantity-input {
        font-size: 20px;
        line-height: 25px;

        input {
          font-size: 18px;
          line-height: 22px;
          font-weight: 400;
          height: 45px;
        }

        .quantity-desc-title {
          margin-bottom: 15px;
          font-size: 18px;
        }
      }

      .add-div-btn {
        max-width: 600px;
        width: 100%;
        margin-top: 70px;
        .add-product-button {
          font-size: 14px;
          line-height: 20px;
          padding: 12px 160px;
        }
      }
      .image-div {
        height: 245px !important;
        margin-top: 15px;

        img {
          width: 100px;
        }

        .wish-list {
          // position: absolute;
          top: 20px;
          right: 20px;
          img {
            width: 20px;
          }
        }
      }

      .urgent-order {
        .form-check {
          .form-check-input {
            width: 20px;
            height: 20px;
          }
        }
      }

      .urgent-order{
        margin-top: 40px;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .scrollable-left {
    .leftside {
      padding-left: 30px;
      .title {
        font-size: 24px;
        line-height: 28px;
        margin-top: 20px;
      }

      .about-product {
        .product-code {
          font-size: 16px;
          line-height: 34px;
        }
        .product-desc {
          font-size: 14px;
          line-height: 24px;
        }
        .product-price {
          font-size: 20px;
          line-height: 24px;
        }
      }

      .color-description {
        .color-desc-title {
          font-size: 20px;
          line-height: 24px;
        }
        .select-color-btn {
          font-size: 14px;
          line-height: 17px;
          padding: 15px 30px;
          margin-right: 20px;
          margin-bottom: 20px;
        }
      }

      .quantity-input {
        font-size: 20px;
        line-height: 25px;

        input {
          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
        }
      }

      .add-div-btn {
        max-width: 600px;
        width: 100%;
        .add-product-button {
          font-size: 16px;
          line-height: 20px;
          padding: 18px 180px;
        }
      }
      .image-div {
        height: 270px !important;
        img {
          width: 100px;
        }

        .wish-list {
          // position: absolute;
          top: 20px;
          right: 20px;
          img {
            width: 20px;
          }
        }
      }

      .urgent-order {
        .form-check {
          .form-check-input {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) and (max-width: 1750px) {
  .scrollable-left {
    .leftside {
      padding-left: 30px;
      .title {
        font-size: 24px;
        line-height: 28px;
        margin-top: 0;
      }

      .about-product {
        .product-code {
          font-size: 16px;
          line-height: 34px;
        }
        .product-desc {
          font-size: 14px;
          line-height: 24px;
        }
        .product-price {
          font-size: 20px;
          line-height: 24px;
        }
      }

      .color-description {
        .color-desc-title {
          font-size: 20px;
          line-height: 24px;
        }
        .select-color-btn {
          font-size: 14px;
          line-height: 17px;
          padding: 15px 30px;
          margin-right: 20px;
          margin-bottom: 20px;
        }
      }

      .quantity-input {
        font-size: 20px;
        line-height: 25px;

        input {
          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
        }
      }

      .add-div-btn {
        max-width: 600px;
        width: 100%;
        .add-product-button {
          font-size: 16px;
          line-height: 20px;
          padding: 18px 180px;
        }
      }
      .image-div {
        height: 270px !important;
        img {
          width: 100px;
        }

        .wish-list {
          top: 20px;
          right: 20px;
          img {
            width: 25px;
          }
        }
      }
    }
  }
}
