.form-container {
    padding: 1rem;
}

.title span{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */
color: #000000;
}

.side-container{
    margin: 40px;
    
}