.menus-col {
  .dealer-flow {
    // margin-bottom: 60px;
    .title-cont {
      margin-left: 7px;
      overflow: hidden;

      .comp-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: #000000;
      }
    }
  }
  .menu-img {
    img {
      height: 77px;
      width: 77px;
      // padding: 13px;
      cursor: pointer;
      padding: 13px;
      // cursor: pointer;
      border-radius: 50%;
    }
  }

  .menu-list {
    padding-top: 10px;

    ul {
      padding: 0;
      list-style-type: none;

      .li {
        // margin: 10px 0px;
        padding: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .icn {
          i {
            color: #bababa;
          }
        }

        // .svg-inline--fa {
        //   font-size: 20px;
        // }

        &:hover {
          background-color: #fff2f2;
          border-radius: 5px;
          color: #bc2328;
        }

        .menu-name {
          margin-left: 10px;
          color: #bababa;
          font-style: 14px;
          font-weight: 500;
        }
      }

      .active {
        background-color: #fff2f2;
        border-radius: 5px;

        .menu-name {
          color: #be212a;
        }

        .icn {
          i {
            color: #be212a;
          }
        }
      }
    }
  }

  .marginTop40 {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1600px) {
  .menus-col {
    .menu-img {
      img {
        height: 65px;
        width: 65px;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .menus-col {
    .menu-img {
      img {
        height: 60px;
        width: 60px;
      }
    }
  }
}

@media only screen and (max-width: 1199) {
  .menus-col {
    .menu-img {
      img {
        height: 50px;
        width: 50px;
      }
    }
  }
}
