.success-order {
  .modal-dialog {
    max-width: 570px !important;
  }
  .orderplaced-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 570px;
    padding: 50px;
    justify-content: space-around;
    .msg {
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      color: #000;
    }
    img {
      max-width: 330px;
    }

    .view-order-btn {
      width: 70%;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .success-order {
    .modal-dialog {
      width: 470px !important;
    }

    .orderplaced-popup {
      height: 470px;

      img{
        width: 275px;
      }

      .msg{
        font-size: 18px;
      }

      .view-order-btn{
        font-size: 16px !important;
      }
    }
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .success-order {
    .modal-dialog {
      width: 525px !important;
    }

    .orderplaced-popup {
      height: 525px;

      img{
        width: 310px;
      }

      .msg{
        font-size: 20px;
      }

      .view-order-btn{
        font-size: 20px !important;
      }
    }
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .success-order {
    .modal-dialog {
      width: 400px !important;
    }

    .orderplaced-popup {
      height: 400px;

      img{
        width: 240px;
      }

      .msg{
        font-size: 14px;
      }

      .view-order-btn{
        font-size: 16px !important;
      }
    }
  }
}


