.offcanvas.show.dm {
  width: 70% !important;
}

.divided-div {
  display: flex;
  
  .div-1{
    width: 58%;
    // background: yellow;
  }
  .div-2{
    width: 42%;
    // background: rgb(255, 136, 0);
  }
}
