.allproducts {
  height: 85vh;
  background: white;
  margin-top: 30px;
  margin-right: 40px;
  border-radius: 12px;
  padding: 25px 35px;
  overflow-y: auto;
  // overflow-x: scroll;
  .nodata {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;

    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    color: #929292;
  }

  .noSubcategory {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;

    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    color: #929292;
  }

  .catItems {
    display: flex;
    align-items: center;
    margin: 30px 0;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    .superCategory-div {
      margin-right: 20px;
      min-height: 150px;
      min-width: 150px;
      color: white;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      display: flex;
      align-items: end;
      justify-content: center;
      padding-bottom: 10px;
      cursor: pointer;
    }
    .isActive {
      border: 2px solid red;
      border-radius: 15px;
    }
  }

  .company-names {
    overflow-x: hidden;
    overflow-y: auto;

    .category-row {
      margin-top: 20px;
      padding-left: 15px;
      .catCol {
        width: 25%;
        width: 250px;
        height: 250px;
        background: white;
        border: 1px solid #959ec4;
        border-radius: 12px;
        margin-right: 40px;
        margin-bottom: 35px;
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        img {
          width: 220px;
        }
      }
    }
  }

  .sub-category-div {
    cursor: pointer;
    width: 250px;
    height: 250px;
    background: white;
    border: 1px solid #959ec4;
    border-radius: 12px;
    /* margin-right: 40px; */
    /* margin-bottom: 35px; */
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    .image-div {
      img {
        width: 180px;
      }
    }
  }

  .activeBorder {
    border: 3px solid red;
    border-radius: 16px;
  }
}

@media only screen and (max-width: 1728px) {
  .allproducts {
    .catItems {
      .superCategory-div {
        width: 130px;
        height: 130px;
        font-size: 15px;
        line-height: 18px;
        margin-right: 45px;
      }
    }

    .company-names {
      .category-row {
        .catCol {
          width: 230px;
          height: 230px;
          font-size: 18px;
          margin-right: 44px;
          margin-bottom: 44px;

          img {
            width: 200px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .allproducts {
    margin-left: 50px;
    .catItems {
      .superCategory-div {
        width: 100px !important;
        height: 100px !important;
        min-height: 100px;
        min-width: 100px;
        font-size: 14px;
        line-height: 17px;
        margin-right: 40px;
      }
    }

    .company-names {
      .category-row {
        .catCol {
          width: 200px;
          height: 200px;
          margin-right: 40px;
          margin-bottom: 40px;
          img {
            width: 180px;
          }
        }
      }
    }

    .sub-category-div {
      width: 200px;
      height: 200px;

      .image-div{
        img{
          max-width: 140px;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1512px) {
  .allproducts {
    // .catItems {
    //   .superCategory-div {
    //     width: 100px;
    //     height: 100px;
    //     font-size: 14px;
    //     line-height: 17px;
    //     margin-right: 40px;
    //   }
    // }
    .company-names {
      .category-row {
        .catCol {
          width: 180px;
          height: 180px;
          margin-right: 40px;
          margin-bottom: 40px;
          img {
            width: 160px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .allproducts {
    // .catItems {
    //   .superCategory-div {
    //     width: 100px;
    //     height: 100px;
    //     font-size: 14px;
    //     line-height: 17px;
    //     margin-right: 40px;
    //   }
    // }
    padding: 25px;
    .company-names {
      .category-row {
        .catCol {
          width: 170px;
          height: 170px;
          margin-right: 35px;
          margin-bottom: 35px;
          img {
            width: 150px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .allproducts {
    .company-names {
      .category-row {
        .catCol {
          width: 160px;
          height: 160px;
          margin-right: 35px;
          margin-bottom: 35px;
          img {
            width: 130px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .allproducts {
    .company-names {
      .category-row {
        .catCol {
          max-width: 160px;
          height: 160px;
          margin-right: 25px;
          margin-bottom: 25px;
          img {
            width: 130px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1249px) {
  .allproducts {
    margin-left: 20px;
    margin-top: 20px;
    height: 74.5vh;
  }
}

@media (min-width: 1200px) and (max-width: 1249px) {
  .allproducts {
    margin-left: 50px;
    margin-top: 30px;
    height: 85vh;
  }
}
