.products {
  height: 72vh;
  background: white;
  margin-top: 30px;
  margin-right: 40px;
  border-radius: 12px;
  padding: 25px 35px;
}

.bottom-strip {
  height: 11vh;
  background: white;
  margin-top: 22px;
  margin-right: 40px;
  border-radius: 12px;
  padding: 25px 35px;
}
