.order-details-div{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 40px;

    .search-filter-div{
        display: flex;
    }

    .order-company{
        .order-date{
            margin-bottom: 15px;
            color: #9f9f9f;
            font-weight: 500;

            span{
                color: black;
            }
        }
        .company-name{
            font-size: 26px;
            font-weight: 600;
            line-height: 32px;
        }
    }
}

.table-div-order-details{
    margin-top: 40px;
    margin-left: 30px;
    height: 300px;
}