.offcanvas.show.instructions {
  width: 32% !important;

  button:active {
    background-color: #be212a !important;
  }
  .some-margin {
    margin-top: 50px;
  }
  .offcanvas-title {
    padding-top: 20px;
    padding-left: 40px;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }

  button {
    margin-right: 20px;
  }

  .offcanvas-body {
    padding: 0;
  }
}

.seeall-header {
  background-color: #f1f3f8;
  border: transparent;
  tr {
    th {
      text-align: center;
      padding: 20px;
    }
  }
}

.instruction-div {
  margin: 0 50px;
  margin-top: 20px !important;

  .inst-form {
    margin-bottom: 45px;

    .title-text {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: #000;
      margin-bottom: 10px;
    }
  }

  .writing-space {
    background: #f7f7f7;
    border: 1px solid #cccccc;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .offcanvas.show.instructions {
    width: 35% !important;

    .offcanvas-title {
      font-size: 20px;
      padding-left: 25px;
    }

    .some-margin {
      font-size: 16px !important;
    }
  }

  .instruction-div {
    margin: 0 40px;
    margin-top: 10px !important;

    .inst-form {
      .title-text {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .offcanvas.show.instructions {
    width: 32% !important;

    .offcanvas-title {
      font-size: 24px;
      padding-left: 30px;
    }
  }
}


@media only screen and (max-width: 1199px) {
  .offcanvas.show.instructions {
    display: none;
  }
}