.order-summary-box {
  border: 1px solid #a2a2a2;
  border-radius: 6px;
  // margin: 0 3%;
  margin: 0 10px;
  padding: 2%;
  display: flex;

  .internal-div {
    display: flex;
  }

  .title-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .summary-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
  }

  .other-summary-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    color: #000000;
  }

  .order-summary {
    // width: 100%;
    // background-color: yellow;
    margin-left: 10%;

    .items-total,
    .taxes {
      display: flex;
      justify-content: space-between;

      .summary-heading,
      .summary-amount {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 10px;
      }
    }

    .horizontal-line {
      margin: 10px 0 !important;
    }

    .amount-total {
      display: flex;
      justify-content: space-between;

      .total-title,
      .total-amount {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .order-summary-box {
    .box-one {
      width: 100%;
    }
    .title-text {
      font-size: 16px;
    }
    .summary-text {
      font-size: 13px;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .order-summary-box {
    .title-text {
      font-size: 16px;
    }
    .summary-text {
      font-size: 13px;
      line-height: 20px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .order-summary-box {
    .title-text {
      font-size: 14px !important;
    }
    .summary-text {
      font-size: 12px !important;
      line-height: 18px !important;
    }

    .order-summary {
      .items-total {
        .summary-heading {
          font-size: 12px;
          margin-bottom: 5px;
        }
        .summary-amount {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }

      .taxes {
        .summary-heading {
          font-size: 12px;
          // margin-bottom: 0;
        }
        .summary-amount {
          font-size: 12px;
          // margin-bottom: 0;
        }
      }

      .amount-total {
        .total-title {
          font-size: 12px;
        }
        .total-amount {
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .order-summary-box {
    .order-summary {
      margin-left: 0;
    }
    .box-one {
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 730px) {
  .order-summary-box {
    .internal-div {
      flex-direction: column;

      .box-one {
        .title-text {
          margin-bottom: 0px;
        }
        margin-bottom: 5px;
      }

      .order-summary {
        .title-text {
          margin: 0;
        }

        .taxes {
          .summary-heading {
            margin-bottom: 0;
          }
          .summary-amount {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
